---
name: Release

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  release:
    uses: alphagov/gds-github-workflows/.github/workflows/terraform-module-release.yml@feat/add-reusable-workflows-for-tf-module-validation
    name: GitHub Release
