---
name: Release

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  release:
    uses: alphagov/gds-github-workflows/.github/workflows/terraform-module-release.yml@main
    name: GitHub Release
