---
name: Release

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  release:
    uses: gds-tech-and-security/github-actions/.github/workflows/terraform-module-release.yml@feat/add-reusable-workflows
    name: GitHub Release
