# To add more modules in the future, simply add them to the filters section

name: Terraform CI

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

permissions:
  contents: read
  pull-requests: write

jobs:
  pre-commit-checks:
    uses: ./.github/workflows/pre-commit-checks.yml
    permissions:
      contents: read
    with:
      terraform-version: ${{ vars.TERRAFORM_VERSION }}

  detect-changes:
    runs-on: ubuntu-latest
    outputs:
      modules: ${{ steps.filter.outputs.changes }}
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        id: filter
        with:
          filters: |
            terraform-azurerm-conditional-access:
              - 'terraform-azurerm-conditional-access/**'

  module-validation:
    uses: alphagov/gds-github-workflows/.github/workflows/terraform-module-validation.yml@main
    name: Module Validation
    needs: [pre-commit-checks, detect-changes]
    if: needs.detect-changes.outputs.modules != '[]'
    strategy:
      matrix:
        module: ${{ fromJson(needs.detect-changes.outputs.modules) }}
    with:
      working-directory: .
      terraform-version: ${{ vars.TERRAFORM_VERSION }}
      terraform-dir: ${{ matrix.module }}
      enable-commitlint: false
