name: Terraform CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: read
  pull-requests: write

jobs:
  pre-commit-checks:
    uses: ./.github/workflows/pre-commit-checks.yml@feat/add-reusable-workflows-for-tf-module-validation
    permissions:
      contents: read
    with:
      terraform-version: ${{ vars.TERRAFORM_VERSION }}

  module-validation:
    uses: alphagov/gds-github-workflows/.github/workflows/terraform-module-validation.yml@feat/add-reusable-workflows-for-tf-module-validation
    name: Module Validation
    needs: pre-commit-checks
    with:
      working-directory: .
      terraform-version: ${{ vars.TERRAFORM_VERSION }}
