name: Terraform CI

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

permissions:
  contents: read
  pull-requests: write

jobs:
  pre-commit-checks:
    uses: ./.github/workflows/pre-commit-checks.yml
    permissions:
      contents: read
    with:
      terraform-version: ${{ vars.TERRAFORM_VERSION }}
